.logo-header {
    color:#2196F3;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2; 
    text-decoration: none;  
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
}

.studio-title-header{
    color: #000000;
}